<ion-view id="homeIndex">
    <ion-content >
        <ion-slide-box does-continue="true" slide-interval="1500" auto-play="true">
            <ion-slide ng-repeat="imgs in silderBox" ng-click="target(imgs.state)">
                <img ng-src="{{imgs.imgUrl}}" style="width: 100%;height:250px">
            </ion-slide>
        </ion-slide-box>
    <!--    <div class="list" ng-repeat="product in recommend" ui-sref="home.firends">
            <p>{{product.title}}</p>
            <a href="javascript:;" ng-repeat="item in product.products ">
                <img ng-src="{{item.imgUrl}}">
                <span>{{item.desc}}</span><br>
                <span class="nowPrice">{{item.nowPrice | currency:"￥"}}</span>
                <span class="original">{{item.oriPrice | currency:"￥"}}</span>
            </a>
        </div>   -->
        <div class="list" ng-repeat="product in recommend">
            <p>{{product.title}}</p>
            <a href="javascript:;" ng-repeat="item in product.products "  ui-sref="home.firends" ng-click="detail(item)">
                <img ng-src="{{item.imgUrl}}">
                <span>{{item.desc}}</span><br>
                <span class="nowPrice">{{item.nowPrice | currency:"￥"}}</span>
                <span class="original">{{item.oriPrice | currency:"￥"}}</span>
        </a>
    </div>
    </ion-content>
</ion-view>