<ion-view id="hMself">
    <ion-content>
        <p class="nikename">个人中心</p>
        <button class="button button-clear "id="hMbtn"
                style="color:#000;
                margin-left: 50%"
                ng-click="you()"
                ng-hide="show"

        >请您登陆</button>
        <div class="item item-avatar hMitem"  ng-show="show">
            <img src="images/bg1.jpeg">
            <p>[穿上小新的西装]</p>
            <p>才不容许让时间腐朽了初衷</p>
        </div>
        <div class="button-bar color">
            <a class="button">关注 0</a>
            <a class="button">点赞 0</a>
            <a class="button">收藏 0</a>
            <a class="button">分享 0</a>
        </div>
        <div class="news">
            <p class="community">社区信息</p>
            <div class="button-bar">
                <div class='button'>
                    <i class="icon ion-ios-heart-outline"></i><p>我的好友</p></div>
                <div class='button'>
                    <i class="icon ion-ios-book-outline"></i><p>我的信息</p></div>
                <div class='button'>
                    <i class="icon ion-ios-people-outline"></i><p>我的社区</p></div>
                <div class='button'>
                    <i class="icon ion-ios-photos-outline"></i><p>我的评论</p></div>
            </div>
        </div>
        <div class="list hMlist">
            <a class="item" href="javascript:;">

                更多游戏
            </a>
            <a class="item" href="javascript:;">

                心愿单
            </a>
            <a class="item" href="javascript:;">
                浏览记录
            </a>
            <a class="item" href="javascript:;">

                我的收藏
            </a>
            <a class="item" href="javascript:;">

                联系客服
            </a>
        </div>
    </ion-content>
</ion-view>