 <ion-view id="homeSpecial">
    <ion-content class="scroll-content">
        <p class="title">每日特卖</p>
        <div class="card" ng-repeat="item in data">
            <div class="item item-avatar">
                <img ng-src=" {{item.headUrl}}">
                <p>[{{item.rem}}]</p>
            </div>
            <div class="item item-images hIphotos">
                <img ng-src="{{item.imgUrl}}" class="photos" >
            </div>
            <div class="hSlist">
                <span class="nowPrice"> ￥{{item.nowPrice}}</span>
                <span class="original">￥{{item.original}}</span>
                <p class="limTime">[{{item.limTime}}]</p>
                <p class="desc">{{item.desc}}</p>
                <button class="button button-assertive" ng-click="add(item)">加入购物车</button>
            </div>
            <div class="item tabs">
                <a class="tab-item icon ion-thumbsup {{item.number}}" icon-on="assertive" ng-click="zan(item,item.number)">赞{{item.num}}</a>
                <a class="tab-item icon ion-thumbsdown {{item.anumber}}" ng-click="cai(item,item.anumber)">踩{{item.low}}</a>
                <a class="tab-item icon ion-chatbox">评论</a>
                <a class="tab-item icon ion-share">分享</a>
            </div>
        </div>
    </ion-content>
</ion-view>